[Unit]
Description=API for OTP data

[Service]
Type=simple
WorkingDirectory=/root/othub-api
ExecStart=/root/othub-api/othub-api.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target